{% extends "index.html" %}
{% block body %}
<h2>Force-Directed Graph</h2>
    <p>
        <label>
            Part:
            <select class="force-directed-graph-data">
                <option value="alto">Alto</option>
                <option value="bass">Bass</option>
                <option value="soprano">Soprano</option>
                <option value="tenor">Tenor</option>
            </select>
        </label>
    </p>
<p>
    <label>
        Edges:
        <select class="force-directed-graph-lines"></select>
    </label>
</p>
<form class="force-directed-graph-search" action="#">
    <label>
        Node:
        <input name="node"/>
    </label>
    <label>
        Inbound:
        <input type="checkbox" name="inbound">
    </label>
    <label>
        Outbound:
        <input type="checkbox" name="outbound" checked>
    </label>
    <input type="submit" value="Search">
</form>
<div class="force-directed-graph"></div>
{% endblock %}