/* General SVG properties */
svg {
    font: 10px sans-serif;
}

.bar {
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Force-Directed Graph */
.node {
    stroke-width: 1px;
}

.link {
    fill: none;
}

/* Co-Occurrence Matrix */

.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

text.active {
    fill: red;
}

.arrow{
    stroke-width:5;
    stroke-dasharray:5, 5;
}