.bar {
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Force-Directed Graph */
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #bbb;
}

/* Co-Occurrence Matrix */

.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

text.active {
    fill: red;
}
